.play-button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #218838;
}

.play-button:active {
    background-color: #1e7e34;
}

/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fb;
}

/* ใช้ Flexbox เพื่อจัดการ Layout */
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    gap: 20px;
}

#map {
    width: 70%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-bar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.date-bar button {
    padding: 12px 18px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.date-bar button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.date-bar button.active {
    background-color: #28a745;
}

#info {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Color Legend - ปรับตำแหน่งให้อยู่ที่มุมล่างซ้าย */
.legend-container {
    position: fixed;
    bottom: 80px;
    left: 20px; /* เปลี่ยนจาก right: 20px เป็น left: 20px */
    width: 250px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    z-index: 10;
    max-height: 70vh;
    overflow-y: auto;
    display: none; /* ซ่อน legend โดยเริ่มต้น */
}

.legend-container h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 6px 0;
}

.color-box {
    width: 35px;
    height: 18px;
    margin-right: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-label {
    font-size: 12px;
    color: #666;
}

/* Add responsiveness */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 50vh;
    }

    .content {
        width: 100%;
    }

    .legend-container {
        width: 100%;
        position: relative;
        margin-top: 15px;
        margin-right: 0;
    }

    .date-bar {
        flex-direction: column;
        align-items: center;
    }

    .date-bar button {
        margin-bottom: 10px;
    }
}

/* สำหรับหน้าจอมือถือขนาดเล็กกว่า 600px */
@media (max-width: 600px) {
    .date-bar button {
        padding: 10px 14px;
        font-size: 12px;
    }

    .legend-container {
        width: 100%;
        bottom: 15px;
        left: 0; /* ปรับตำแหน่งไปทางซ้าย */
        margin-top: 0;
    }

    #map {
        height: 40vh;
    }

    .container {
        gap: 15px;
    }
}
