/* ใช้ฟอนต์ Poppins */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #333;
}

/* จัด header */
header {
    background: #4caf50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 600;
}

/* Section และ Main */
main {
    padding: 20px;
}

/* จัดการ layout ของกราฟ */
.chart-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.chart-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* จัดการการแสดงกราฟ 3 ชิ้นในบรรทัดเดียว */
.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 40px;
}

.chart-wrapper .chart-container {
    flex: 1 1 300px; /* ทำให้กราฟแต่ละอันยืดหยุ่นและพอดี */
    max-width: 45%; /* กำหนดขนาดของกราฟแต่ละอัน */
}

/* Footer */
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* ตารางแสดงข้อมูล Process, CreatedAt, และ Status */
.process-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.process-table th,
.process-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.process-table th {
    background-color: #4caf50;
    color: white;
    font-weight: 600;
}

.process-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.process-table tr:hover {
    background-color: #f1f1f1;
}