@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#style-map {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #000;
    backdrop-filter: blur(60px);
    border-right: 2px solid rgba(225, 225, 225, .8);
    padding: 6px 14px;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #ffffff;
    pointer-events: none;
    opacity: 0;
    transition-delay: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition: .2s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    list-style: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(225, 225, 225, .2);
}

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

.popup {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    background: white;
    letter-spacing: normal;
    border: 1px;
    font-size: 15px;
    border-radius: 5px;
    /* display: none; */
    z-index: 1000;
    line-height: normal;
    width: auto;
    max-width: auto;
    /*เปลี่ยนเป็น max-width เพื่อให้ popup ขยายตามความกว้างของ JSON ไม่ให้เกินขนาด  */
    height: 400px;
    /* เปลี่ยนเป็น auto เพื่อให้ความสูงของ popup ขยายตามข้อมูล */
    max-height: 300px;
    /* เพิ่มเพื่อกำหนดความสูงสูงสุดของ popup */
    overflow-y: auto;
    /*เพิ่ม: ทำให้สามารถเลื่อน scrollbar ได้ */
    word-wrap: break-word;
    white-space: pre;
}

.CodeMirror {
    height: auto;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    z-index: 1001;
    /*กำหนด z-index เพื่อให้ CodeMirror มีค่าสูงกว่า popup*/
    overflow-y: auto;
}

/* Style for line numbers */
/* .CodeMirror-gutter {
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
} */
.CodeMirror pre {
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
}

/* CSS for Popup */
.mapboxgl-popup-content {
    font-family: Arial, sans-serif;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 300px;
}

.mapboxgl-popup-content.active {
    display: block;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    /* text-align: left; */
    padding: 8px;
}

/* .spinner {
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 15px solid rgba(0, 0, 0, 0.1); 
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 100px; 
    height: 100px; 
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} */