body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 90vh;
}

#info {
    position: absolute;
    top: 10px;
    right: 10px;
    /* Change position to the right */
    background: rgba(255, 200, 150, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

#image-container {
    text-align: center;
    /* จัดกลาง */
    margin-top: 10px;
    /* เว้นระยะจากแผนที่ */
}

#image-container img {
    max-width: 50%;
    /* ขนาดภาพไม่เกินขนาดของ container */
    height: auto;
    /* ให้รักษาสัดส่วน */
}